@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&display=swap");

:root {
  --primary-color: #00fff3;
  --background-color: rgba(3, 3, 27, 0.7);
  --dark-background-color: rgb(92 47 181);
  --font: "Exo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("https://img.search.brave.com/G0G5v4Epn8hBmLiuaAoasshDUCyPH4B5IK_2xTHRbA8/rs:fit:820:512:1/g:ce/aHR0cHM6Ly93d3cu/Y3JscXVhcnR6LmNv/LnVrL2NvbnRlbnQv/dXBsb2Fkcy8yMDE2/LzEyL1BvbGFyLVdo/aXRlX3JvdGF0ZWRA/MnguanBn");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font);
  height: max-content;
  overflow-x: hidden;
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-thumb {
}
