@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --color-primary: #7480ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light)
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

main {
    margin-top: 1.4rem;
  }

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

.container {
    display:grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--color-dark)
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem; 
}

h4 {
    font-size: 0.8rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark)
}

p {
    color: var(--color-dark)
}

b {
    color: var(--color-dark)
}

.primary {
    color: var(--color-primary)
}

.danger {
    color: var(--color-danger)
}

.success {
    color: var(--color-success)
}

.warning {
    color: var(--color-warning)
}

aside {
     height: 100vh;
}

aside .sideBarTop {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo img {
    width: 2rem;
    height:2rem;
}
aside .logo {
    display: flex;
    gap: 0.8rem;
    margin-top: 20px;
}

aside .close {
    display: none;
}

@media screen and (max-width: 768px) {
    .container {
      width: 100%;
      grid-template-columns: 1fr;
    }
  
    aside {
      position: fixed;
      left: -100%;
      background: var(--color-white);
      width: 18rem;
      z-index: 3;
      box-shadow: 1rem 3rem 4rem var(--color-light);
      height: 100vh;
      padding-right: var(--card-padding);
      display: none;
      animation: showMenu 400ms ease forwards;
    }
  
    @keyframes showMenu {
      to {
        left: 0;
      }
    }
  
    aside .logo {
      margin-left: 1rem;
    }
  
    aside .logo h2 {
      display: inline;
    }
  
    aside .sidebar h3 {
      display: inline;
    }
  
    aside .sidebar a {
      width: 100%;
      height: 3.4rem;
    }
  
    aside .sidebar a:last-child {
      position: absolute;
      bottom: 5rem;
    }
  
    aside .close {
      display: inline-block;
      cursor: pointer;
    }
  
    main {
      margin-top: 8rem;
      padding: 0 1rem;
    }
  
    main .insights > div {
      width: 100%;
    }
  
    main .recent-orders {
      position: relative;
      margin: 3rem 0 0 0;
      width: 100%;
    }
  
    main .recent-orders table {
      width: 100%;
      margin: 0;
    }
  
    .right {
      width: 94%;
      margin: 0 auto 4rem;
    }
  
    .right .top {
      position: fixed;
      top: 0;
      left: 0;
      align-items: center;
      padding: 0 0.8rem;
      height: 4.6rem;
      background: var(--color-white);
      width: 100%;
      margin: 0;
      z-index: 2;
      box-shadow: 0 1rem 1rem var(--color-light);
    }
  
    .right .top .theme-toggler {
      width: 4.4rem;
      position: absolute;
      left: 66%;
    }
  
    .right .profile .info {
      display: none;
    }
  
    .right .top button {
      display: inline-block;
      background: transparent;
      cursor: pointer;
      color: var(--color-dark);
      position: absolute;
      left: 1rem;
    }
  
    .right .top button span {
      font-size: 2rem;
    }
}