.right {
    margin-top: 1.4rem;
  }
  
  .right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
  }
  
  .right .top button {
    display: none;
  }
  
  .right .themetoggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
  }
  
  .right .themetoggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right .themetoggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
  }
  
  .right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
  }
  
  /* ================= RECENT UPDATES ================ */
  .right .recentupdates {
    margin-top: 1rem;
  }
  
  .right .recentupdates h2 {
    margin-bottom: 0.8rem;
  }
  
  .right .recentupdates .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }
  
  .right .recentupdates .updates:hover {
    box-shadow: none;
  }
  
  .right .recentupdates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  /* ================= SALES ANALYTICS ================ */
  .right .salesanalytics {
    margin-top: 2rem;
  }
  
  .right .salesanalytics h2 {
    margin-bottom: 0.8rem;
  }
  
  .right .salesanalytics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }
  
  .right .salesanalytics .item:hover {
    box-shadow: none;
  }
  
  .right .salesanalytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
  }
  
  .right .salesanalytics .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
  }
  
  .right .salesanalytics .item.offline .icon {
    background: var(--color-danger);
  }
  
  .right .salesanalytics .item.customers .icon {
    background: var(--color-success);
  }
  
  .right .salesanalytics .addproduct {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary);
    color: white;
  }
  
  .right .salesanalytics .addproduct:hover {
    background: var(--color-primary);
    color: white;
  }
  
  .right .salesanalytics .addproduct div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  
  .right .salesanalytics .addproduct div h3 {
    font-weight: 600;
  }

  .right .salesanalytics {
    margin-top: 2rem;
  }
  
  .right .salesanalytics h2 {
    margin-bottom: 0.8rem;
  }
  
  .right .salesanalytics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }
  
  .right .salesanalytics .item:hover {
    box-shadow: none;
  }
  
  .right .salesanalytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
  }
  
  .right .salesanalytics .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
  }
  
  .right .salesanalytics .item.offline .icon {
    background: var(--color-danger);
  }
  
  .right .salesanalytics .item.customers .icon {
    background: var(--color-success);
  }
  
  .right .salesanalytics .addproduct {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary);
    color: white;
  }
  
  .right .salesanalytics .addproduct:hover {
    background: var(--color-primary);
    color: white;
  }
  
  .right .salesanalytics .addproduct div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  
  .right .salesanalytics .addproduct div h3 {
    font-weight: 600;
  }