aside .sideBar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
  }
  
  aside .h3 {
    font-weight: 500;
  }
  
  aside .sideBar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
  }
  
  aside .sideBar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
  }
  
  aside .sideBar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
  }
  
  aside .sideBar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
  }
  
  aside .sideBar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
  }
  
  aside .sideBar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
  }
  
  aside .sideBar a:hover {
    color: var(--color-primary);
  }
  
  aside .sideBar a:hover span {
    margin-left: 1rem;
  }
  
  aside .sideBar .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
  }